/* Adhoc documentation style sheet */

*.wrapid-doc {font-family: Arial, Helvetica, sans-serif;
              font-size: small; }

h1.wrapid-doc {font-size: x-large;
               margin-left: 3em; }

h2.wrapid-doc {font-size: large;
               margin-left: 2em; }

h2.wrapid-doc a {font-size: large;
                 margin-left: 2em; }

h3.wrapid-doc {font-size: small;
               margin-left: 1em; }

a.wrapid-doc {text-decoration: none;
              font-weight: bold; }

table.wrapid-doc {margin-top: 0.5em;
                  margin-bottom: 0.5em; }

table.wrapid-doc caption {padding-left: 2em;
                          margin-bottom: 0.25em;
                          text-align: left;
                          font-weight: bold; }

table.wrapid-doc tr th {border-width: 2px;
                        border-top-style: solid;
                        border-bottom-style: solid;
                        padding-left: 0.5em;
                        text-align: left; }

table.wrapid-doc tr td {border-width: 1px;
                        border-bottom-style: solid;
                        padding-left: 0.5em; }
